<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372727349704-mlodn7dt8hnulscgtvd388kcnvqb2o5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372727349704-mlodn7dt8hnulscgtvd388kcnvqb2o5k</string>
	<key>API_KEY</key>
	<string>AIzaSyDs0YxctdKLBSCgat6POfL0J3kEm4Y_a5g</string>
	<key>GCM_SENDER_ID</key>
	<string>372727349704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mitsuya-dev</string>
	<key>PROJECT_ID</key>
	<string>mitsuya-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mitsuya-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372727349704:ios:8b1ccac32df7f1854500fd</string>
</dict>
</plist>